{
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node":true,
        "amd": true,
        "jest/globals":true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules":{
        "no-unused-vars":["warn"],
        "react/react-in-jsx-scope":["warn"],
        "react/display-name":["warn"],
        "no-console":["warn"]
    },
    "plugins":["jest"]
}